form{
    text-align: left;
    color: #040646;
    font-weight: bold;
    /* text-shadow: 0px 1px white; */
    font-size: larger;
    background-color: white;
    border: 2px solid white;
    border-radius: 2%;
    padding: 15px;
    margin: 3em;
    width: 50%;
}

.submit-button{
    width: 10em;
    height: 3em;
    margin: 1em 0em;
}

#fullNameInput{
    font-size: larger;
}
.BetterFuture{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    padding: 1em 0em 0.5em 0em;
    color: #15186b;
     font-weight: bold;
}