.navbar{
    background-color: none;
    display: flex;
    flex-direction: row;
}

.navbar Link {
    display: flex;
    flex-direction: row;
    color: #3f51b5;

}

.MuiTypography-root{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MuiTypography-root li{
    padding: 10px;
}

.MuiTypography-root li:hover{
    color: #fff;
    cursor: pointer;
}