.navbar{
    background-color: #5b85a2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


ul{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 1em;
    align-items: flex-end;
}
p:hover{
    color: #2e3192;
    cursor: pointer;
    text-shadow: none;

}  
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5em;
 }


li{
    list-style: none;
    padding:1em;
    color: #3f51b5;
    text-decoration: none;
    text-shadow: none;
}


h3{
    padding: 0em 1em;
    margin: 1em ;
    color: #2e3192;
}

h4{
    padding: 0px;
    margin: 0px;
    color: #fff;
    text-shadow: 2px 1px 1px black;
} 
